/*ABOUT*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2rem;
  gap: 1.5rem;
}
.about-container .right-about i {
  font-size: 1.5rem;
  color: var(--color-accent);
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-accent);
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  box-shadow: var(--box-shadow-1);
  height: 170px;
  width: 400px;
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-accent);
  box-shadow: var(--box-shadow-1);
}
.about-container .right-about .about-item .about-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container .right-about .about-item .about-text .large-text {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-accent);
}
.about-container .right-about .about-item .about-text .small-text {
  position: relative;
  font-size: 1.2rem;
  color: var(--color-text);
  text-align: center;
  letter-spacing: 3px;
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem 0;
}
.about-container .left-about p span {
    color: var(--color-accent);
    font-weight: 700;
}
.about-container .left-about h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-text);
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-text);
}
.about-stats .progress-bars .progress-bar .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-background-2);
  margin-left: 1rem;
  position: relative;
  border-radius: 2px;
}
.about-stats .progress-bars .progress-bar .progress span {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}


.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
  color: var(--color-text);
}

/*Timeline*/
.timeline-btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.timeline-btn-wrap button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--color-background);
  border: 2px solid var(--color-text);
  color: var(--color-text);
  font-weight: 600;
  box-shadow: var(--box-shadow-1);
}
.timeline-btn-wrap .active {
  background-color: var(--color-text);
  color: var(--color-background);
}

.timeline-btn-wrap button:not(.active) {
  background-color: var(--color-background);
}
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 0.5px solid var(--color-background-2);
  transition: all 2s ease-in-out;
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.2rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-background-2);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-background);
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-text);
}

.timeline .timeline-item h5 span {
  color: var(--color-accent);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item p {
  color: var(--color-text);
}

@media (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
  .about-container .right-about .about-item {
    width: 100%;
    min-width: 0;
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .timeline {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .about-container {
    padding: 1rem 0.2rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about .btns-container {
    margin: 15px 0;
  }
  .about-container .right-about .about-item {
    width: 100%;
    min-width: 0;
    height: auto;
    align-self: center;
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 1rem;
  }
}
